
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1{
  font-size: 40px;
}
img{
  width: 100%;
}

p{
  font-size: 14px;
}

.picture{
  line-height: 0;
}

.top-header{
  background: url(../images/main.png) no-repeat;
  background-size: contain;
  height: 38vw;
}

.top-menu{
  text-align: center;
}

.top-menu h2{
  font-size: 18px;
  font-weight: bold;
}

footer{
  background: #E0FFFF;
}
